*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    border: none;
    outline: none;
    z-index: 1;
}
html{
    height: 100vh;
    width: 100vw;
  scroll-behavior: smooth;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(32, 33, 43);
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    display: none;
}
/* starting of my portifolio */
main{
    width: 100%;
    max-width: 30rem;
    height: 100%;
    background-color: rgb(255, 255, 255);
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

main > .dash-board{
    padding: 1rem;
    background: linear-gradient(45deg , rgb(11, 12, 14),rgb(2, 38, 92));
   
    height: fit-content;
    width: 100%;
    min-width: 10rem;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dash-board > .ound{

height: 50%;
width: 100%;
max-height: 50rem;
min-height: 10rem;
transition: transform 2s ease-in; 
display: flex;
justify-content: center;
align-items: center;
gap: 0.5rem;
}


.dash-board .my-info{
    width: 100%;
    height: 50%;
    top: 0;
    left: 0;
    padding: 1rem 0 3rem 0;
}
.my-info h1::before{
  content: 'In the future';position: absolute;color: rgba(255, 217, 4, 0.904); top: -1rem; font-size: small;
}
.same{
  
  width: 100%;border-radius: 0.4rem;
  background: rgb(3, 11, 20);
  padding: 0.2rem;
  font-family:monospace;
  color: white;
  

}

.same h1 , .same h2{
  filter: drop-shadow(0 0 0.5rem rgb(255, 255, 255));
      font-size: clamp(0.5rem,7vw,1.5rem);
}
.post{
  border: 0.4rem solid rgb(255, 166, 0);
  border-bottom: none;
  padding: 1rem;
}
/* //books making */












.achievment{

  border: 0.4rem solid rgb(255, 166, 0);
    border-top: none;
  margin-top: 1rem;
  height: fit-content;
  display: flex;
  flex-direction: ;
  position: relative;
width: 100%;

}
.achievment .con{
position: absolute;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.achievment .con img{

margin: 1rem 0 0 1rem;
  width: 50%;
  aspect-ratio: 1/1;border-radius: 100%;
 border: 0.3rem solid rgb(255, 166, 0);
  
}

.book{
  height:15rem ;
  width: 100%;
display: flex; 
 overflow: scroll;
 font-variant-ligatures: no-common-ligatures;
 perspective: 1000px;
 justify-content: end;

}
.page{
  padding: 0.3rem;
    
      flex: 0 0 auto;
      position: absolute;
      transform-style: preserve-3d;
      z-index: 2;
      transform: rotateY(0);
  width: 50%;
  transform-origin: left;
  color: black;
  display: inline-block;
  height: inherit;
  background-color: white;
  transition: 0.5s ease-in-out;
  overflow-y: scroll;

}

















.remove-item *{
    display: none;
}
.my-info > h1{   
    font-size: clamp(1.5rem,10vw,3rem);
    color: rgb(250, 214, 172);
    font-family: Arial, Helvetica, sans-serif;
   
}

.my-info > p{color: white;
    font-family: cursive;
}
/* mobile like base start from here  */
.base{
    height: fit-content;
    width: 100%;
    /* background:linear-gradient(rgb(0, 44, 167),rgb(0, 176, 199),white) , ; */
  background: rgb(1, 2, 5);

 
    transition:top 0.5s ,border 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
  

}
.base h1{

    margin: 2vh;
    font-family: monospace;
}
.base nav{

    padding: 1.5rem;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
  background: rgb(1, 2, 5);
    box-shadow: 0 0 1px white;
    color :rgb(255, 255, 255);font-family: Arial, Helvetica, sans-serif;
    position: sticky;
    top: 0;
    z-index: 20;
}
nav h2{
   
    background: linear-gradient(to right,rgb(255, 94, 0),rgb(255, 208, 0));
   -webkit-background-clip: text;
    color: transparent;
}
.base nav i {
  color: rgb(35, 123, 255);
    font-size: 1.5rem;
    justify-self: right;
}
.base > h1{
  color: rgba(247, 247, 247, 0.952);
  font-size: medium;font-weight: bolder;
  margin-top: 8rem;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-bottom: 1rem;padding: 1rem;
border-bottom: 4px double ;
  position: relative;
  left: -45%;transform: translateX(50%);
}
.status {
  margin-top: 1rem;

  width: 90%;border-radius: 0.4rem;

  max-width: 30rem;  

  position: relative;

  aspect-ratio: 1/0.7;
   
    overflow-y: scroll;
    padding: 1rem;overflow-x: hidden;
    transition: 0.5s cubic-bezier(1, 0, 0, 2);
}
/* //showing list of status  */

.show{
  width: 100%;
    outline: 2px solid white;
  height: 30rem;
  background-color: white;
  border-radius: 1.2rem;

  
}

.status h1{
  padding: 0.5rem;
  width: 100%;
  border-bottom-left-radius:1rem ;
  border-top-left-radius: 1rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: rgb(255, 255, 255); 
}

.status p {
    font-size: 1.5rem;
    font-family: cursive;color: rgb(255, 255, 255);
}
.status ul h4{
  color: rgb(255, 185, 33);
}
.status ul li{
  font-weight: 400;
  color: rgb(95, 95, 95);
}

.status .mini{
  display: flex;
  justify-content: space-between;
  
  align-items: center;
  position: sticky;
  top: 0;
  transition: 0.5s;
}

.miini{
  padding: 1rem;
  width: 100vw;
  background: rgb(8, 77, 141);
  position: absolute;
  transform: translate(-1rem);
}

.show h1{color: rgb(34, 34, 34);}
.app-section {
    width: 90%;
    padding: 1rem;
    display: flex;
  flex-direction: row;
 overflow-x: scroll;
 overflow-y: hidden;
align-items: center;
    gap: 0.5rem;
 scroll-snap-type:x mandatory;
 scroll-behavior: smooth;
 margin: 2rem 0 2rem 0;
perspective: 1000px;
}

   
.app{
  scroll-snap-align: center;
    flex: 0 0 auto;
   
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(207, 207, 207);
    border-radius: 0.5rem;
    background:rgba(209, 208, 208, 0.986);
    font-size: clamp(1rem ,5vw ,2rem);
    font-family: Arial, Helvetica, sans-serif;
    height: 25rem;
    transition:all 0.9s;
    
    transform-origin:center ;
}
.app span{
  visibility: hidden;
  color: rgb(255, 255, 255);
}
.active {
  
   background:rgba(255, 255, 255, 0.986);
 transform: scaleX(1.25) scaleY(1.1);
 transform-style: preserve-3d;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.active span{
  border-radius: 0.1rem;
  visibility: visible;
  height: 70%;
  width: 90%;
  padding: 1rem;
  background:rgb(3, 11, 20);
  border-top: 0.4rem solid rgb(255, 166, 0);
  border-bottom: 0.4rem solid rgb(255, 166, 0);
}

.the-magic{
    margin-bottom: 5rem;
    width: 100%;
    display: grid;
    padding: 3rem;
    gap: 1rem;
}

.b-app{
padding: 3rem;

width: 100%;color: rgba(255, 255, 255, 0.993);
aspect-ratio: 1/1;
background: linear-gradient(45deg, rgb(5, 65, 114) 10%,transparent 0%, transparent 80%, rgb(250, 69, 69)) 10%;
display: flex;
border-radius: 0.2rem;
justify-content: center;border-collapse: collapse;
align-items: center;
font-family: Arial, Helvetica, sans-serif;
font-size: larger;
font-weight: bold;
outline:2px solid ;
}

/* the last not the least  */
.footer {
  background: rgb(1, 2, 5);
  position: relative;
  color: #fff;
  padding: 40px 0;
  font-family: Arial, sans-serif;
  transition: 0.5s;
}
.footer >h1{
  padding: 1rem;
}
.footer-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 20px;
}

.footer-section {
  flex: 1 1 150px;

}

.footer-section h2, .footer-section h3 {
  margin-bottom: 15px;
  color: #ffce54;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}



.footer-section ul li a {
  color: #ccc;
  text-decoration: none;
}

.footer-section ul li a:hover {
  color: #fff;
}

.footer-section p {
  color: #ccc;
 
}

.social-icons a {
  font-size: 20px;
  text-decoration: none;
  color: #ccc;
}

.social-icons a:hover {
  color: #fff;
}

.footer-bottom {
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #333;
  color: #aaa;
  font-size: 14px;
}


/* //root application */
.root{
  background: rgb(228, 227, 227);
display: flex;
flex-direction: column;
gap: 0.3rem;
justify-content: center;
  z-index: 50;
  padding: 0.1rem;
}
/* //special sttufss */
.special{
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}
.special *{
  background: white;
  padding: 0.7rem;
 border-radius: 100%;
}
.special button{
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    color: #ffffff;
    border-radius: 2px;
    background-color: rgb(0, 42, 105);
}


.skill{
padding: 1rem;
font-family: Arial, Helvetica, sans-serif;
}

